.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  h1,
  a {
    color: white;
    font-size: 3em;
  }
}

.back {
  align-self: flex-start;
  margin-left: 1%;
  a {
    text-decoration: none;
  }
}

.temp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  padding: 2%;
  border-radius: 8px;
  

  .temp {
    font-size: 3em; // Alterado para 1em
    margin-right: 1%;

    p {
      margin: 0;
      font-size: 2em; // Alterado para 2em
    }
   
  }

  .temp-max-min {
    display: flex;
    flex-direction: column;

    p {
      font-size: 0.8em; // Ajuste opcional para o texto "°C"
      margin: 0;
    }
    span{
      margin: 0;
      font-size: 2em;
    }
  }
}

.deteil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;

  h1 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    margin-top: 1.5%;
    font-size: 4em;
  }

  img {
    width: 70%;
    height: 70%;
    margin-top: -1.25%;
  }
}

.times-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;

  .day-period {
    margin: 1%;
    flex: 0 1 20%; // Inicialmente, cada .day-period terá 20% da largura

    p {
      font-size: 1em;
    }

    img {
      width: 70%; // Ocupará 100% da largura da .day-period
      height: auto; // Mantém a proporção original
    }

    span {
      font-size: 1em;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  color: white;

  .footer-info {
    margin-left: 1%;
    flex: 0 1 20%; // Inicialmente, cada .footer-info terá 20% da largura

    p {
      font-size: 1em;
    }
  }
}
