.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Segoe UI";
  color: white;

  h1,
  a {
    color: white;
    font-size: 3em;
    font-weight: 100;
  }
}

.back {
  align-self: flex-start;
  margin-left: 1%;
  a {
    text-decoration: none;
  }
}

.temp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  padding: 2%;
  border-radius: 8px;

  img {
    width: 80%;
    height: 80%;
    margin-top: -1.25%;
  }
  .temp {
    font-size: 3em;
    margin-right: 1%;

    p {
      margin: 0;
      font-size: 2em;
    }
  }

  .temp-max-min {
    display: flex;
    flex-direction: column;

    p {
      font-size: 0.8em; // Ajuste opcional para o texto "°C"
      margin: 0;
    }
    span {
      margin: 0;
      font-size: 2em;
    }
  }
}

.deteil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: white;

  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    margin-top: 1.5%;
    font-size: 4em;
  }

  img {
    width: 70%;
    height: 70%;
    margin-top: -1.25%;
  }
}

.times-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  margin-top: 3em;

  .day-period {
    margin: 1%;
    flex: 0 1 20%;

    p {
      font-size: 1em;
    }

    img {
      width: 75%;
      height: auto;
    }

    span {
      font-size: 1em;
    }
  }
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  color: white;
  width: 20em;
  margin-left: -20px;

  .footer-info {
    margin-left: 1%;
    flex: 0 1 20%;

    p {
      font-size: 1em;
    }
  }
}
