.page-home {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI';
  margin-top: 200px;

  h3 {
    font-weight: lighter;
    font-size: 40px; /* ou qualquer outro valor fixo para desktop */
  }

  p {
    font-size: 30px; /* ou qualquer outro valor fixo para desktop */
  }

  img {
    width: 120px; /* ou qualquer outro valor fixo para desktop */
    max-width: 20%;
    margin-top: 10px; /* ou qualquer outro valor fixo para desktop */
  }

  .cities {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      cursor: pointer;
      font-size: 16px; /* ou qualquer outro valor fixo para desktop */
      margin-top: 10px;
      margin-bottom: 10px;
      width: calc(33.33% - 10px);
      min-width: 100px;
      transition: font-size 0.3s ease;
      margin-left: 60px;
      font-size: 20px; /* ou qualquer outro valor fixo para desktop */
      font-weight: lighter;
    }

    a:hover {
      font-size: 14px; /* ou qualquer outro valor fixo para desktop */
    }
  }

  .cities:nth-child(3n) {
    margin-right: 0;
  }

  .cities:nth-child(n + 4) {
    margin-top: 10px;
  }

  .cities:nth-child(n + 7) {
    margin-top: 0;
  }
}