.page-home {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI";
  margin-top: 200px;

  h3 {
    font-weight: lighter;
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }

  img {
    width: 120px;
    max-width: 20%;
    margin-top: 10px;
  }

  .cities {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      cursor: pointer;
      font-size: 4vmin;
      margin-top: 2vmin;
      margin-bottom: 2vmin;
      width: calc(33.33% - 2vmin);
      min-width: 100px;
      transition: font-size 0.3s ease;
      margin-left: 5vmin;
      font-weight: lighter;
    }

    a:hover {
      font-size: 14px;
    }
  }

  .cities:nth-child(3n) {
    margin-right: 0;
  }

  .cities:nth-child(n + 4) {
    margin-top: 10px;
  }

  .cities:nth-child(n + 7) {
    margin-top: 0;
  }
}
